body{
    background-image: url(j2dx.github.io/img/seigaiha.png);
    background-repeat: repeat;
    font-family: "Abel";
    text-align: center;
}
#box {
    display: block;
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 10px 10px 0px 0px;
    background-color: #f2951d;
}

#head {
    background-color: #282828;
    color: #F8F8F8;
    border-radius: 10px 10px 0px 0px;
}

#p {

}

#pic {
    display: block;
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
