body{
    background-image: url(hjallepp.github.io/img/seigaiha.png);
    background-repeat: repeat;
    font-family: "Abel";
    font-size: large;
}
#box {
    display: block;
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0px 0px 0px 0px;
}

#header {
    background-color: #282828;
    text-align: center;
    color: #F8F8F8;
    border-radius: 10px 10px 0px 0px;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
}

#p {
  background-color: #f2951d;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  padding: 5%;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    width: 80%;
    max-width: 800px;
}
