body{
    background-color: #282828;
    font-family: "Abel";
    text-align: center;
}
#box {
    display: block;
    width: 400px;
    height: auto;
    margin: auto;
    background-color: #f2951d;
}
#img {
    display: block;
    margin: auto;
    border-radius: 100px;
    border: 2px solid white;
}
